@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a target="_blank" asp-action="printreport" asp-controller="RPTAllAsset" asp-route-printtype="PDF" class="btn btn-danger btn-block btn-xs"> PDF</a>
<a target="_blank" asp-action="printreport" asp-controller="RPTAllAsset" asp-route-printtype="EXCEL" class="btn btn-danger btn-block btn-xs"> EXCEL</a>
