@model YcgItInventorySystem_V2.Models.Inventory.InvMstAssetCatagory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>แก้ไขข้อมูลกลุ่ม</h3>
 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatagoryId" />
            <div class="form-group">
                <label asp-for="CatagoryText" class="control-label"></label>
                <input asp-for="CatagoryText" class="form-control" />
                <span asp-validation-for="CatagoryText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatagoryDescription" class="control-label"></label>
                <input asp-for="CatagoryDescription" class="form-control" />
                <span asp-validation-for="CatagoryDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ActiveFlag" class="control-label"></label>
                <select asp-for="ActiveFlag">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
